/* 这里面写了所有后端的样式 */

.body_bg {
  background-color: #222d32;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.mt_150 {
  margin-top: 150px;
}

html,body {
  height: 100%;
}

body {
  padding-left: 180px;
  transition: all 1s;
}

body.active {
  padding-left: 0;
}

ul,ol {
  list-style: none;
  margin: 0;
  padding: 0;
}


.lt_aside {
  width: 180px;
  height: 100%;
  background-color: #222d32;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s;
}

.lt_aside.active {
  left: -180px;
}

.lt_aside .brand a {
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #367fa9;
  color: #fff;
  font-size: 24px;
}

.lt_aside .user img {
  display: block;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 30px auto 0;
}

.lt_aside .user p {
  text-align: center;
  font-size: 16px;
  color: #fff;
  height: 40px;
  line-height: 40px;
}

.lt_aside .nav a {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #fff;
  padding-left: 50px;
  border-left: 3px solid transparent;
}

.lt_aside .second a {
  padding-left: 70px;
}

.lt_aside .nav a.active {
  background-color: #1d1f21;
  border-left: 3px solid #337ab7;
  box-sizing: border-box;
}


.lt_main {
  width: 100%;
  height: 100%;
}

.lt_header {
  height: 50px;
  line-height: 50px;
  background-color: #3c8dbc;
  padding: 0 20px;
  margin-bottom: 20px;
}

.lt_header a {
  color: #fff;
  font-size: 18px;
}


.charts_left,
.charts_right {
  width: 45%;
  height: 400px;
}